<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.spring.springPractice.Student" id="stdId">

		<property name="name" value="Taj" />
		<property name="rollno" value="123" />
		<property name="email" value="taj123@gmail.com" />
	</bean>
	<bean class="com.spring.springPractice.Student" id="stdId2">

		<property name="name" value="ammi" />
		<property name="rollno" value="124" />
		<property name="email" value="ammi124@gmail.com" />
	</bean>


</beans>